---
layout: mobile.hbs
title: h5活动模板
keywords: h5活动模板
description: h5活动模板
statEA: h5act
statEB: index
cssFile:
- css/index.css
- css/index.vue.css
jsFile:
- js/vendor.js
- js/index.js
cdnURLs:
- https://cdn.jyblife.com/static/js/lib/jsapi-2.0.12.js
- https://cdn.jyblife.com/static/js/lib/zepto-1.2.0-all-min.js
---

<div id="container" class="ui-no-tap-highlight">
  <div id="app"></div>
</div>
<!--#include virtual="/sinclude/env.tpl"-->
